<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>WELCOME {{user['first_name']}}</h1>
    <h1>recipe name</h1>
    <a href="" style="margin-left: 80%;">back to recipes</a>
    <a href="('/log_out')" style="margin-left: 5%;">logout</a>
    <h3 style="margin-left: 65%;">Posted by {{user['first_name']}}</h3>
    <div style="border: 2px solid black;">
        <h3 style="margin-bottom: 30px;">Description:</h3>
        <h3 style="margin-bottom: 180px;">Under 30 minutes?</h3>
        <h3 style="margin-bottom: 180px;">Instructions:</h3>
        <h3 style="margin-bottom: 30px;">Date Made:</h3>
    </div>
    
</body>
</html>