<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ROCK ON {{session['name']}}</h1>
    {% with messages = get_flashed_messages() %}     
            {% if messages %}
        <div style="display: flex; flex-direction: column;">                            
                {% for message in messages %}            
                    <p>{{message}}</p>                   
                {% endfor %}
        </div>
            {% endif %}
        {% endwith %}
    <h1>Create a band!</h1>
    <div>
        <a href="/logged_in" style="margin-left: 80%;">My Bands</a>
        <a href="/log_out" style="margin-left: 5%;"> logout</a>
    </div>
    <form action="/added_band" method="post">
        <label for="band_name">Band Name:</label><br>
        <input type="text" id="band_name" name="band" value="" size="50"><br>
        <label for="genre">Genre:</label><br>
        <input type="text" id="genre" name="genre"  value="" style="width: 100px;"><br>  
        <label for="homecity">Home City:</label><br>
        <input type="text" id="homecity" name="homecity"><br>
        <input type="submit" style='margin-top: 20px;'>
    </form>
</body>
</html>